<%# Flash to indicate if login was successful or failed %>
<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<div class="container jumbotron">
  <h1 class="title">
    User Settings
  </h1>
  <hr>
  <p>
    <%# Logic to show if Redtail is integrated ie. if a Redtail ID is present in the database.. %>
    <%# ..and if authentication went through %>
  <strong>Integrated with Redtail:</strong>
    <% if [nil, 0].include? @user.redtailid %>
        No, log in below to integrate
      <% else @user.redtailid %>
         Yes 
         <br>
         <%= form_for @user do |f| %>
         <%= f.hidden_field :redtailid, :value => nil %>
         <%= f.hidden_field :userkey, :value => nil %>
         <%= f.submit "Remove Integration" %>
         <% end %>
    <% end %>
  </p>
  <% if [nil, 0].include? @user.redtailid %>
    <%# Redtail Login form, saves Redtail username and password to variables in controller %>
    <%= form_tag showme_path, :method => :post, id: 'integrate' do %>
      <%= label_tag(:reduser, "Redtail Username:") %>
      <%= text_field_tag(:reduser) %>
      <br>
      <%= label_tag(:redpass, "Redtail Password:") %>
      <%= password_field_tag(:redpass) %>
      <%= submit_tag("Integrate",class: "btn btn-success") %>
    <% end %>
  <% end %>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <% if [nil, 0].include? @user.redtailid %>
  <p>Once Redtail Integration is successful more options will become available</p>
  <% else %>
  <p style="display:inline;">
    <%# Shows link that was created in Controller for user which goes to Datepicker %>
    <strong>Datepicker Link:</strong>
    <p style="display:inline;" id ="linkshare"><%= @user.link %></p>
    <button copy-to-clipboard-button data-clipboard-target="#linkshare" >Click to Copy Link</button>
  </p>
  <p>
    <%# Shows current timeslot selected and saved in Database from helper method%>
     <strong>Select Day(s) to add Preferred Timeslots:</strong>
      <div class="slottable">
        <div class="slotdays" id="Monday">
            <button class="day" > Monday </button>
            <%= available_time_slots_for(@user.timeslot, "Monday") %>
        </div>
        <div class="slotdays" id="Tuesday">
            <button class="day"> Tuesday </button> 
            <%= available_time_slots_for(@user.timeslot, "Tuesday") %>
        </div>
        <div class="slotdays" id="Wednesday">
            <button class="day"> Wednesday </button>
            <%= available_time_slots_for(@user.timeslot, "Wednesday") %>
        </div>
        <div class="slotdays" id="Thursday">
            <button class="day"> Thursday </button>
            <%= available_time_slots_for(@user.timeslot, "Thursday") %>
        </div>
        <div class="slotdays" id="Friday">
            <button class="day"> Friday </button>
            <%= available_time_slots_for(@user.timeslot, "Friday") %>
        </div>
        <div class="slotdays" id="Saturday">
            <button class="day"> Saturday </button>
            <%= available_time_slots_for(@user.timeslot, "Saturday") %>
        </div>
        <div class="slotdays" id="Sunday">
            <button class="day"> Sunday </button>
            <%= available_time_slots_for(@user.timeslot, "Sunday") %>
        </div>
      </div>
  </p>
    <br>
  <%# Form to Select Timeslot on User page %>
  <%= form_for @user do |f| %>
    <strong>Update/Choose length of Preferred Slot:</strong>
    <%# Ability to change timeslot length %>
    <select class="slotLength">
      <option value="15">15 Min</option>
      <option value="30">30 Min</option>
      <option value="45">45 Min</option>
      <option value="60">1 Hour</option>
    </select>
    <br>
    <strong>Add Selectable Start times</strong>
    <%# Add selectable timeslots %>
    <%= timepicker() %>
    <button class="add">Add</button>
    <br>
    <%#
    <p>
         <strong>Select Day(s) to add Backup Timeslots:</strong>
          <div class="slottable">
            <div class="slotdays" id="Monday">
                <button class="day" > Monday </button>
            </div>
            <div class="slotdays" id="Tuesday">
                <button class="day"> Tuesday </button> 
            </div>
            <div class="slotdays" id="Wednesday">
                <button class="day"> Wednesday </button>
            </div>
            <div class="slotdays" id="Thursday">
                <button class="day"> Thursday </button>

            </div>
            <div class="slotdays" id="Friday">
                <button class="day"> Friday </button>

            </div>
            <div class="slotdays" id="Saturday">
                <button class="day"> Saturday </button>
  
            </div>
            <div class="slotdays" id="Sunday">
                <button class="day"> Sunday </button>

            </div>
          </div>
      </p>
      <strong>Update/Choose length of Backup Slots:</strong>
      <select class="backupslotLength">
          <option value="15">15 Min</option>
          <option value="30">30 Min</option>
          <option value="45">45 Min</option>
          <option value="60">1 Hour</option>
        </select>
    <div id="time-range">
        <p>Select Backup Time Range: <span class="slider-time">9:00 AM</span> - <span class="slider-time2">5:00 PM</span>
        </p>
        <div class="sliders_step1">
            <div id="slider-range"></div>
        </div>
    </div>
    <br>
    <button class="backupadd">Add</button>
    <hr>
    %>
    <%= f.hidden_field :timeslot, :value => @dataValue, :class => 'hiddenValue' %>
    <%= f.submit "Apply Changes", :class => 'apply btn btn-success' %>
  <% end %>
<% end %>
</div>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', logout_path, method: :delete %>