<p id="notice"><%= notice %></p>

<p>
  <strong>Ownerid:</strong>
  <%= @appointment.ownerid %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @appointment.datetime %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @appointment.allday %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @appointment.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @appointment.body %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
