<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= form_for(@user) do |f| %>
<p>
  <% if @user.timeslot == nil %>
    <strong> Current Timeslot: "No Timeslot Selected" </strong>
  <% else %>
    <strong>Current Timeslot:</strong>
    <% @slot.each do |key, value| %>
    <%= "Your #{key} times are #{value}." %>
    <% end %>
  <% end %>
  <br>
<strong>Update/Choose:</strong>
   <%= f.select(:timeslot) do %>
    <% [['8am, 11am, 2pm', 1], ['9am, 12pm, 3pm', 2],['10am, 1pm, 4pm', 3]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
  <div class="actions">
     <%= f.submit %>
  </div>
    <% end %>
<% end %>
</p>
<p>
  <strong>Link:</strong>
  <%= @user.link %>
</p>
<p>
<strong>Integrated with Redtail:</strong>
  <% if [nil, 0].include? @user.redtailid %>
      No, log in below to integrate
    <%else @user.redtailid %>
       Yes
  <% end %>
</p>
    <p>
    <% if @user.sso != nil %>
     <%= link_to "SSO to Redtail Calendar", @user.sso, :target => "_blank"%>
     <% end %>
    </p>
<%= javascript_tag do %>
  var formcheck = <%= @user.redtailid %>
<% end %>
<%= form_tag showme_path, :method => :post, id: 'integrate' do %>
  <%= label_tag(:reduser, "Redtail Username:") %>
  <%= text_field_tag(:reduser) %>
  <br>
  <%= label_tag(:redpass, "Redtail Password:") %>
  <%= password_field_tag(:redpass) %>
  <%= submit_tag("Log in") %>
<% end %>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', logout_path, method: :delete %>