<% require 'json' %>
<p id="notice">
<%= notice %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= form_for(@user) do |f| %>
<p>
  <% if @user.timeslot == nil %>
    <strong> Current Timeslot: "No Timeslot Selected" </strong>
<% else %>
    <strong>Current Timeslot:</strong>
    <% @slot.each do |key, value| %>
    <%= "Your #{key} times are #{value}." %>
    <% end %>
  <%end%>
  <br>
  <strong>Update/Choose:</strong>
    <%= f.select(:timeslot) do %>
    <% [['8am, 11am, 2pm', 1], ['9am, 12pm, 3pm', 2],['10am, 1pm, 4pm', 3]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %> 
<% end %>
</p>
<p>
  <strong>Link:</strong>
  <%= @user.link %>
</p>

<button class="btn-primary"> Integrate with Redtail
</button>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', logout_path, method: :delete %>