<%# Flash to indicate if login was successful or failed %>
<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<div class="container jumbotron">
  <h1 class="title">
    User Settings
  </h1>
  <hr>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%# Form to Select Timeslot on User page %>
<%= form_for(@user) do |f| %>
<p>
  <% if @user.timeslot == nil %>
    <strong> Current Timeslot: "No Timeslot Selected" </strong>
  <% else %>
  <%# Shows current timeslot selected and saved in Databsae %>
    <strong>Current Timeslot:</strong>
    <% @slot.each do |key, value| %>
    <%= "Your #{key} times are #{value}." %>
    <% end %>
  <% end %>
  <br>
<strong>Update/Choose:</strong>
<%# Ability to change timeslots, integers represent Switch in controller %>
   <%= f.select(:timeslot) do %>
    <% [['8am, 11am, 2pm', 1], ['9am, 12pm, 3pm', 2],['10am, 1pm, 4pm', 3]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
  <div class="actions">
     <%= f.submit "Update Timeslot"  %>
    <% end %>
<% end %>
</p>
<p style="display:inline;">
  <%# Shows link that was created in Controller for user which goes to Datepicker %>
  <strong>Link:</strong>
  <p style="display:inline;" id ="linkshare"><%= @user.link %></p>
  <button copy-to-clipboard-button data-clipboard-target="#linkshare" >Click to Copy Link</button>
</p>
<p>
  <%# Logic to show if Redtail is integrated ie. if a Redtail ID is present in the database.. %>
  <%# and if authentication went through %>
<strong>Integrated with Redtail:</strong>
  <% if [nil, 0].include? @user.redtailid %>
      No, log in below to integrate
    <%else @user.redtailid %>
       Yes
  <% end %>
</p>
<%# Redtail Login form, saves Redtail username and password to variables in controller %>
<%= form_tag showme_path, :method => :post, id: 'integrate' do %>
  <%= label_tag(:reduser, "Redtail Username:") %>
  <%= text_field_tag(:reduser) %>
  <br>
  <%= label_tag(:redpass, "Redtail Password:") %>
  <%= password_field_tag(:redpass) %>
  <%= submit_tag("Log in",class: "btn btn-success") %>
<% end %>
</div>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', logout_path, method: :delete %>